# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Node
node_modules/
dist/
build/

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Arduino / firmware build artifacts
*.bin
*.elf
*.hex
*.map

# KiCad backup/auto-saved
*-backups/
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
fp-info-cache

# Env / secrets
.env
.env.local
*.local

# Logs
*.log
